@charset "UTF-8";
html{
  font-size: 10px;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', serif;
  color: #432;
  background: rgba(252, 227, 227, 0.201);
  line-height: 1.7em;
  font-size: 1.6rem;
}
header{
  background-color:rgba(250, 148, 216, 0.31);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.title{
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0;
  padding-top: 2rem;
}
a {
  text-decoration: none;
  color:palevioletred
}

.headerImg{
  position: relative;
}
.headerImg h1{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 5rem;
}
.headerImg img{
  width: 100%;
}
.main-nav{
  display: flex;
  width: 80%;
  margin:1.5rem auto;
  list-style: none;
  justify-content: space-around;
  font-size: 2rem;
}
.content-section{
  padding: 5rem 0;
}
.point{
  cursor: pointer;
}
.profile_details{
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.text{  
  background-color: white;
  width: 70%;
  padding: 0 2rem;
  font-size: 1.8rem;
  border-radius: 5%;
  line-height: 3.5rem;
}
.text p{
  margin: 0;
}

.profile_details .picture{
  width: 25rem;
  height: 30rem;
  border-radius: 50%;
  padding: 2rem;
  margin-right: 3rem;
}
#skill >.container{
  display: grid;
  grid-template-columns: repeat(3,25rem);
  grid-template-rows: repeat(2,25rem);
  gap: 4rem ;
  justify-content: center;
  align-content: center;
}

.container >.box{
  background: white;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.container >.box >.item{
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container >.box >.item img{
  width: 100%;
}

.deliverable{
  display: grid;
  grid-template-columns: repeat(3,30rem);
  grid-template-rows: repeat(2,30rem);
  gap: 3rem ;
  justify-content: center;
  align-content: center;
}
.deliverable :hover{
  opacity: 0.8;
}

.work{
  text-align: center;
}
.work p{
  color: #432;
}
.work img {
  margin-top: 1rem;
}

#contact > .wrapper{
  text-align: center;
}

.twitter-timeline img{
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  margin-right: 1rem;
}
footer{
  padding: 6rem 0;
  background: lavenderblush;
  text-align: center;
}

/* モバイル */
@media only screen and (max-width:600px){
  html{
    font-size: 6px;
  }
  body{
    margin: 0;
  }
  .main-nav{
    margin: 2rem auto;
    text-align: center;
  }
  .profile_details{
    display: flex;
    flex-direction: column;
  }
  .profile_details p{
    padding: 3rem;
    line-height: 6rem;
    font-size: 2.5rem;
    margin: auto;
  }
  .text{
    margin: 2rem auto;
  }
  .sakuhinn{
    display: block;
    width: 230px;
    margin: 2rem auto;
  }
  .work{
    margin-top: 5rem;
  }
  .profile_details .picture{
    margin: auto;
  }
  #skill >.container{
    grid-template-columns: repeat(2,25rem);
    grid-template-rows: repeat(3,30rem);
    gap: 3rem ;
  }
}
